<h2><%= @form.name %></h2>

<%
  html_attrs = {:method => :post, :class => 'form_submission_form'}
  html_attrs[:multipart] = true if @form.is_multipart?
%>

<% form_for :form_submission, @form_submission, :url => form_form_submissions_path(:form_id => @form.id), :html => html_attrs do |f| %>
  <% unless @form.instructions.blank? %>
    <p><%= @form.instructions %></p>
  <% end %>
  <%= f.form_submission_error_messages %>
  <% @form.form_fields.each do |field| %>
    <div>
      <%= f.label field.name, field.label %>
      <% unless field.field_helper_select_options.nil? %>
        <%= f.send(field.kind.to_sym, field.name, field.field_helper_select_options, field.field_helper_options) %>
      <% else %>
        <%= f.send(field.kind.to_sym, field.name, field.field_helper_options) %>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= f.submit @form.submit_label %>
  </div>
<% end %>
