<% f ||= form %>

<div>
  <%= f.label :name, "Form Name" %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :instructions, "Form Instructions (optional)" %><br />
  <%= f.text_area :instructions, :rows => 4 %>
</div>

<div>
  <%= f.label :submit_label, "Submit Button Label" %>
  <%= f.text_field :submit_label %>
</div>

<div>
  <%= f.label :confirmation, "Form Confirmation (optional, displayed to the user after a successful submission)" %><br />
  <%= f.text_area :confirmation, :rows => 4 %>
</div>

<div>
  <%= f.label :active, "Active?" %>
  <%= f.check_box :active %>
</div>

<div>
  <%= f.label :email_submissions, "Email Submissions?" %>
  <%= f.check_box :email_submissions %>
</div>

<div>
  <%= f.label :email, "Send to Email Address" %>
  <%= f.text_field :email %>
</div>

<table>
  <tr>
    <td style="vertical-align: top;">
      <div class="column" id="left_column">
        <p>Add fields using the links on the right and click and drag the arrows next to the field type titles to reorder.</p>
        <div id="form_fields">
          <%= f.fields_for :form_fields do |ff| %>
            <%= render :partial => "forms/form_field", :locals => {:f => ff} %>
          <% end %>
        </div>
      </div>
    </td>
    <td style="vertical-align: bottom;">
      <div class="column" id="right_column">
        <div id="add_fields" style="height: 100%;">
          <h4 class="header">Add Another Field...</h4>
          <ul id="add_field_links">
            <% DynamicForms.configuration.field_types.each do |field_type| %>
              <li>
                <%= link_to_add_field("Add a #{field_type.titleize}", f, :form_fields, "form_fields", "FormField::#{field_type.camelcase}") %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="clearer"></div>
    </td>
  </tr>
</table>

<script type="text/javascript" charset="utf-8">
  make_form_fields_sortable();
  $$('.form_field_options').each(function(n) {
    make_form_field_options_sortable(n.identify());
  });
</script>
