<% field = f.object %>
<% options_id = f.object.new_record? ? 'field_options_new_form_fields' : "field_options_#{f.object.id}" %>

<div class="field <%= field.kind %>">
  <h4 class="drag_handle"><%= field.kind.titleize %> <%= image_tag "dynamic_forms/arrow_move.png" %></h4>
  <%= f.hidden_field :sti_type %>
  <%= f.hidden_field :position, :class => 'field_position' %>
  
  <div>
    <label>Label</label>
    <%= f.text_field :label %>
  </div>
  
  <% if field.is_selector? %>
    <% field.form_field_options.build(:position => 1) if field.form_field_options.blank? %>
    
    <p>Click on arrows and drag to re-order form fields.</p>
    
    <div id="<%= options_id %>" class="form_field_options">
      <%= f.fields_for :form_field_options do |ffo| %>
        <%= render :partial => 'forms/form_field_option', :locals => {:f => ffo} %>
      <% end %>
      
      <p><%= link_to_add_field_option("Add another option", f, :form_field_options) %></p>
    </div>
  <% end %>
  
  <div class="validation">
    <% if field.allow_validation_of? :required %>
      <%= f.label :required, "Required?" %>&nbsp;
      <%= f.check_box :required %><br />
    <% end %>
    <% if field.allow_validation_of? :email %>
      <%= f.label :email, "Email?" %>&nbsp;
      <%= f.check_box :email %><br />
    <% end %>
    <% if field.allow_validation_of? :url %>
      <%= f.label :url, "URL?" %>&nbsp;
      <%= f.check_box :url %><br />
    <% end %>
    <% if field.allow_validation_of? :phone_number %>
      <%= f.label :phone_types, "Phone Number?" %>&nbsp;
      <%= f.check_box :phone_number %><br />
    <% end %>
    <% if field.allow_validation_of? :zip_code %>
      <%= f.label :zip_code, "Zip Code?" %>&nbsp;
      <%= f.check_box :zip_code %><br />
    <% end %>
    <% if field.allow_validation_of? :number %>
      <%= f.label :number, "Number?" %>&nbsp;
      <%= f.check_box :number %><br />
    <% end %>
    <% if field.allow_validation_of? :min_length %>
      <%= f.label :min_length, "Min Chars?" %>&nbsp;
      <%= f.text_field :min_length, :size => 3 %><br />
    <% end %>
    <% if field.allow_validation_of? :max_length %>
      <%= f.label :max_length, "Max Chars?" %>&nbsp;
      <%= f.text_field :max_length, :size => 3 %><br />
    <% end %>
    <% if field.allow_validation_of? :confirmed %>
      <%= f.label :confirmed, "Confirmed?" %>&nbsp;
      <%= f.check_box :confirmed %><br />
    <% end %>
    <% if field.allow_validation_of? :mime_types %>
      <%= f.label :mime_types, "Mime Types?" %>&nbsp;
      <%= f.text_field :mime_types %>&nbsp;
      <span class="helper_text">Separate by comma (leave blank for default mime types)</span><br />
    <% end %>
    
    <span class="remove_field_link">
      <%= link_to_remove_field "Remove Field", f %>
    </span>
  </div>
</div>
